<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerName" value="k2hk-sp2013"/>
    <add key="User" value="administrator" />
    <add key="Domain" value="k2hk" />
    <add key="Password" value="K2pass!100" />
    <add key="Port" value="5252" />
    <add key="SecurityLabelName" value="K2" />

    <add key="Port_of_SmartObject" value="5555" />


    <add key="from" value="administrator@K2HK-SP2013.k2hongkong.com"/>
    <add key="to" value="peakre@K2HK-SP2013.k2hongkong.com"/>
    <add key="subject" value="testing email"/>
    <add key="hostname" value="127.0.0.1"/>
  </appSettings>
</configuration>